.faq-section {
  @extend %row;
}
.process-container {
  @extend %col-xs;
}

.faq-container {
  @extend %col-xs-12;
  @extend %col-md-8;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 20px;
  .accordion__fold {
    margin-bottom: 20px;
  }
  .accordion__panel {
    padding: 0px 24px;
    position: relative;
    z-index: 0;
    background-color: lighten($purple, 50%);
    overflow: hidden;
    // opacity: 0;
    p {
      margin: 0;
      padding: 10px 0;
      z-index: -1;
    }
  }
  .accordion__panel--expanded {
    // opacity: 1;
  }
  .accordion__header {
    background-color: $purple;
    padding: 8px 0px;
    transition: position 0.4s;
    &:before {
      color: $gold;
      line-height: 1.5em;
      margin-right: 24px;
      margin-left: 16px;
    }
    &:hover {
      background-color: lighten($purple, 10%);
    }
    h4 {
      // pointer-events: none;
      font-size: 1.85em;
      margin: 0;
      color: #ddd;
    }
  }
}
