.faq-section {
  @extend %row;
}
.process-container {
  @extend %col-xs;
}

.faq-container {
  @extend %col-xs-12;
  @extend %col-md-8;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 20px;
  .accordion__fold {
  }
  .accordion__panel {
    padding: 0px 24px;
    position: relative;
    z-index: 0;
    background-color: #eee;
    p {
      margin: 0;
      padding: 10px 0;
      z-index: -1;
    }
  }
  .accordion__panel--expanded {
  }
  .accordion__header {
    background-color: #ddd;
    padding: 8px 0px;
    transition: 0.2s;
    &:before {
      color: #666;
      line-height: 1.5em;
      margin-right: 24px;
      margin-left: 16px;
    }
    &:hover {
      background-color: #ccc;
    }
    h4 {
      pointer-events: none;
      margin: 0;
      color: #666;
    }
  }
}
