// Fix sticky header positioning when logged in
.admin-bar {
  nav.header {
    top: 46px;
  }
  @media screen and (min-width: 783px) {
    nav.header {
      top: 32px;
    }
  }
}
nav.header {
  @extend %row;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 2;
  will-change: transform;
  &:after {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 100%;
    height: 1px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.85);
    z-index: -1;
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.4s;
  }
  &.header--hidden {
    &:after {
      opacity: 0;
    }
  }
  // transition: transform 0.5s;
}
.brand {
  @extend %row;
  @extend %col-xs-8;
  @extend %col-sm-6;
  @extend %col-md-4;
  align-items: center;
  // align-self: center;
  // transform: skew(-20deg);
  padding: 4px 8px;
  height: 100%;
  background-color: white;
  // border-radius: 8px 0 0 0px;
  // margin-right: 19px;
  > * {
    // transform: skew(20deg);
  }
}
.phone {
  a {
   text-decoration: none;
   color: white;
  }
  i {
    color: $gold;
  }
}
.brand__logo {
  height: 70px;
  .cls-1 {
    fill: $gold;
  }
}
.brand__text {
  @extend %col-xs-12;
  @extend %row;
  p {
  }
}
.brand__name {
}
.brand__slogan {
}
.nav-button {
  outline: none;
}
.main-menu {
  @extend %col-md-6;
}
.nav-primary {
  @extend %col-xs-8;
  // max-width: 800px;
}
#menu-main-menu:not(.mm-panel) {
  @extend %row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  background-color: $purple;
  width: 100%;
  a {
    text-decoration: none;
    color: black;
  }
  // Primary navigation
  > li {
    padding: 0 !important;
    // min-width: 120px;
    text-align: center;
    position: relative;
    cursor: pointer;
    // background-color: #ddd;
    > a {
      color: white;
      height: 80px;
      line-height: 80px;
      display: block;
    }
    // Top level dropdown symbol
    &.menu-item-has-children {
      > a:before {
        content: '\f0d7';
        font-family: 'FontAwesome';
        padding-right: 5px;
      }
    }
  }
    // All other list items
    li {
      &:hover > ul.sub-menu {
        display: flex;
        flex-direction: column;
      }
    }
  
  li.menu-item-has-children {
    position: relative;
  }
  ul.sub-menu {
    display: none;
    position: absolute;
    width: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0;
    // box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.65);
    // .sub-menu {
      // box-shadow: none;
    // }
    &:last-child {
     border-top: 1px solid black; 
    }
    li {
      display: inline-block;
      white-space: nowrap;
      padding: 12px 8px;
      background-color: #ddd;
      border-bottom: 1px solid black;
      text-align: left;
    }
    .sub-menu {
      position: absolute;
      left: 100%;
      top: 0;
    }
    li.menu-item-has-children {
      > a:after {
        content: '\f0da';
        font-family: 'FontAwesome';
        padding-left: 5px;
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, md)) {
  .nav-primary {
    display: none !important;
    &.mm-menu {
      display: inherit !important;
    }
  }
}
@media (min-width: map-get($grid-breakpoints, md)) {
  .nav-primary.mm-menu, 
  .nav-button {
    display: none !important;
  }
}
//.menu-main-menu-container {
  //position: absolute;
  //transform: translateX(-100%); 
  //background-color: rgba(0,0,0,0.85); 
  //color: white;
  //padding: 8px 12px;
  //ul {
    //list-style: none;
    //margin: 0;
    //padding: 0;
    //position: relative;
    //li {
      //margin-bottom: 8px;
      //padding: 8px 0; 
      //background-color: red;
    //}
    //ul {
      //position: absolute;
      //top: 0;
    //}
  //}
//}
