.slider {
  .flickity-page-dots {
    bottom: 0px;
    .dot {
      border: 2px solid white;
      &.is-selected {
        background: white;
      }
    }
  }
}
.slider__slide {
  @extend %row;
  flex-direction: row-reverse;
  height: 800px;
  width: 100%;
  background-size: cover;
}
.slider__info-text {
  @extend %col-xs;
  @extend %row;
  flex-direction: column;
  align-content: center;
  padding: 40px;
  color: white;
  background-color: rgba(0,0,0,0.75);
  // border-right: 2px solid black;
  h2 {
    @extend .fadeIn;
    @extend .animated;
    margin: 0;
    border-bottom: 5px solid $gold;
    padding-bottom: 5px;
    @media(min-width: map-get($grid-breakpoints, md)) { 
      font-size: 4.5em;
    }
  }
  p {
    @extend .animated;
    @extend .fadeInUp;
    font-family: 'Cabin', sans-serif;
    font-size: 1.15em;
    line-height: 1.75em;
    max-width: 800px;
    @media(min-width: map-get($grid-breakpoints, md)) { 
      font-size: 1.25em;
    }
  }
  .slider__CAB {
    margin-top: auto;
    align-self: flex-end;
  }
}
.slider__image {
  @extend %col-sm-hidden-down;
  @extend %col-md;
  max-width: 570px;
  background-color: rgba($gold, 0.75);
  // border-right: 2px solid $gold;
  position: relative;
  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}
