.sidebar {
  @extend %col-md-hidden-down;
  @extend %col-lg-2;
  min-width: 265px;
  background-color: lighten($purple, 50%);
  min-height: 100vh;
  @media (max-width: 864px) {
    min-width: 220px;
  }
  ul {
    list-style: none;
    margin: 0;
    @media (max-width: 864px) {
      padding: 0;
    }
  }
  a {
    position: relative;
    text-decoration: none;
    padding-left: 8px;
    color: #333;
    line-height: 80px;
    height: 80px;
    width: 100%;
    display: inline-block;
    font-family: 'Rufina', sans-serif;
    font-style: italic;
    font-size: 1.15em;
    z-index: 2;
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      background-color: white;
      right: 0%;
      height: 100%;
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s;
      z-index: -1;
    }
  }
  li {
    // position: relative;
    border-bottom: 2px solid white;
    margin: 20px 0;
  }
}
