.accordion {
  overflow: hidden;
}
.accordion__panel {
  // height: 100px;
  // height: 0;
  // opacity: 0;
  // transform: scaleY(0)
}
.accordion__panel--expanded {
  // opacity: 1;
  // height: auto;
  // transform: scaleY(1)
}
.accordion__header {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  &:before {
    font-family: 'Fontawesome';
    content: '\f0fe';
    display: inline-block;
  }
  h4 {
    display: inline-block;
  }
  // &:before {
    // content
  // }
}
.accordion__fold {
  position: relative;
}
.accordion__fold--expanded {
  .accordion__header {
    &:before {
      content: '\f146';
    }
  }
}
