.accordion__panel {
  height: 0;
}
.accordion__panel--expanded {
  height: auto;
}
.accordion__header {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  &:before {
    font-family: 'Fontawesome';
    content: '\f0fe';
    display: inline-block;
  }
  h4 {
    display: inline-block;
  }
  // &:before {
    // content
  // }
}
.accordion__fold--expanded {
  .accordion__header {
    &:before {
      content: '\f146';
    }
  }
}
