// Search form
.search-form {
  //@extend .form-inline;
}
.search-form label {
  font-weight: normal;
  //@extend .form-group;
}
.search-form .search-field {
  //@extend .form-control;
}
.search-form .search-submit {
  //@extend .btn;
  //@extend .btn-secondary;
}

.contact-form {
  .gform_body {
    width: 100% !important;
  }
  background-color: white;
  input[type=text],
  textarea {
    border: 1px solid #ddd;
    height: 60px;
    background-color: white;
    color: #444;
    &:focus {
      outline: none;
    }
  }
  input[type=submit] {
    background-color: black;
    border: 1px solid $gold;
    color: $gold;
  }
}
