// Search form
.search-form {
  //@extend .form-inline;
}
.search-form label {
  font-weight: normal;
  //@extend .form-group;
}
.search-form .search-field {
  //@extend .form-control;
}
.search-form .search-submit {
  //@extend .btn;
  //@extend .btn-secondary;
}

.nf-form-fields-required {
  display: none;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  border: 2px solid #666;
  min-height: 60px;
  width: 100%;
  padding-left: 8px;
  color: #999;
  font-family: 'Cabin', sans-serif;
  font-size: 1.2em;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #777;
  }
}

.consultation {
  @extend %row;
  flex-wrap: wrap;
  margin: 10px;
  border: 2px solid black;
  padding: 12px;
  // background-size: cover;
}
.consultation__text {
  @extend %col-xs-12;
  @extend %col-lg-6;
  background-color: white;
  padding: 0 8px;
  @media (min-width: map-get($grid-breakpoints, lg)) {
  }
}
.consultation__title {
  margin: 0;
}
.consultation__form {
  @extend %col-xs-12;
  @extend %col-lg-6;
  @media (min-width: map-get($grid-breakpoints, lg)) {
  }
  .nf-form-title {
    display: none;
  }
  .nf-form-content {
    padding: 0;
    input:not([type='button']),
    textarea {
      background: transparent;
    }
  }
  .nf-field-label {
    margin-bottom: 0 !important;
  }
  .nf-input-limit {
    margin-top: 0;
  }
  .nf-field-container {
    margin-bottom: 8px;
  }

}
