%row {
  display: flex;
}

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

@mixin grid($columns) {
  @each $size, $breakpoint in $grid-breakpoints {
    %col-#{$size} {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      @media (max-width: $breakpoint) {
        display: none!important;
      }
    }
    @for $i from 1 through $columns {
      %col-#{$size}-#{$i} {
        @media (max-width: $breakpoint) {
          display: none;
        }
        @media (min-width: $breakpoint) {
          flex-basis: percentage($i / $columns);
          // max-width: percentage($i / $columns);
        }
      }
    }
  }
}

@include grid(12);

