* {
  box-sizing: border-box;
}

body {
}

.main {
  background-color: white;
}

.container {
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  font-family: 'Open Sans Condensed', serif;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}
