// Colors
$brand-primary:         #27ae60;
$gold:                  #cca876;
$brown:                 #524940;
$purple:                #4d516d;

/* Coolors Exported Palette - coolors.co/cca876-252323-50514f-b4adea-fdfff7 */

/* HSL */
$color1: hsla(35%, 46%, 63%, 1);
$color2: hsla(0%, 3%, 14%, 1);
$color3: hsla(90%, 1%, 31%, 1);
$color4: hsla(247%, 59%, 80%, 1);
$color5: hsla(75%, 100%, 98%, 1);

/* RGB */
$color1: rgba(204, 168, 118, 1);
$color2: rgba(37, 35, 35, 1);
$color3: rgba(80, 81, 79, 1);
$color4: rgba(180, 173, 234, 1);
$color5: rgba(253, 255, 247, 1);
$color5: #422517;

// Global options
$enable-flex:           true;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Vendor variables
$fa-font-path:          '~font-awesome/fonts';

// Hamburger variables
$hamburger-layer-width: 24px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $gold;

// Menu
// $mm_backgroundColor: url('../images/dark-leather.png'), $color2; 
$mm_backgroundColor: black; 
// $mm_backgroundColor: url('../images/dark-leather.png'); 
$mm_borderColor: $gold;
$mm_emphasizedBackgroundColor: $color3;
$mm_textColor: $gold;
$mm_btnSize: 50px;
$mm_dimmedTextColor: white;
$mm_navbarColor: white;
